@import '../../assets/scss/utils.scss';
@import '../../assets/scss/variables.scss';

.card-wrapper {
  position: relative;
  text-align: center;

  .class-card {
    @include alignCenter;
    @include alignFlexCenter(column);
    width: 340px;
    height: 170px;
    background: #22b8cf;
    border-radius: 20px;
    opacity: 0.8;
    transition: all .2s;
  
    h2 {
      margin-bottom: 0.5rem;
      transition: all .2s;
    }
  
    p {
      font-size: 1.4rem;
      font-weight: 600;
      transition: all .2s;
    }
  
    &:hover {
      cursor: pointer;
      background: #efefef;
      box-shadow: $shadow;
      width: 360px;
      height: 180px;
      opacity: 1;
      
      h2 {
        font-size: 1.2rem;
        margin-bottom: 0.75rem;
        color: #666;
      }

      p {
        font-size: 1.75rem;
      }
    }
  }
}
